<div class="containar">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class=" justify-content-center mt-5">
                <form [formGroup]="ProductForm">
                    <div class="form-row">
                        <div class="form-group col-md-6 col-6">
                            <label for="inputEmail4">إسم المتج</label>
                            <input type="text" placeholder="إسم المتج" class="form-control" formControlName="productName">
                        </div>
                        <div class="form-group col-md-6 col-6">
                            <label for="inputState">الصنف</label>
                            <select placeholder="الصنف" class="form-control" formControlName="categery">
                                <option value="شاي">شاي</option>
                                <option value="لبن">لبن</option>
                                <option value="سكر">سكر</option>
                            </select>

                        </div>
                        <div class="form-group col-md-6 col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" formControlName="isSold">
                                <label class="form-check-label" for="gridCheck">
                                    يباع
                                </label>
                            </div>
                        </div>
                        <fieldset class="form-group col-md-6 col-6">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">ألآنتاج</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="gridRadios1" value="مستورد" checked formControlName="productionType">
                                        <label class="form-check-label" for="gridRadios1">
                                            مستورد
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="gridRadios2" value="محلي" formControlName="productionType">
                                        <label class="form-check-label" for="gridRadios2">
                                            محلي
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group col-md-12 col-12">
                            <ng-select [items]="options" bindLabel="name" bindValue="id" [multiple]="true" class="form-control" (change)="DLLcange($event)">
                            </ng-select>

                            <!-- <ng-select name="city" [placeholder]="'إختر الوحدة'" [data]="dropdownList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-select> -->
                            <!-- [(ngModel)]="selectedItems" -->
                            <!-- <div class="form-check">
                                <input class="form-check-input" type="checkbox" (change)="IsCarton=!IsCarton">
                                <label class="form-check-label"> كرتونة</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" (change)="IsBox=!IsBox">
                                <label class="form-check-label" for="gridCheck"> علبة </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" (change)="IsPeas=!IsPeas">
                                <label class="form-check-label"> قطعة </label>
                            </div> -->
                        </div>

                        <div class="form-group col-md-12 col-12" *ngFor="let select of selectedOptions">

                            <div class="isCarton" *ngIf="select.id == 1">
                                كرتونة
                                <div class="form-group col-md-6 col-6">
                                    <label for="inputEmail4">السعر</label>
                                    <input type="text" placeholder="السعر" class="form-control" />
                                </div>
                                <div class="form-group col-md-6 col-6">
                                    <label for="inputEmail4">الباركود</label>
                                    <input type="text" placeholder="الباركود" class="form-control" />
                                </div>
                                <div class="form-group col-md-6 col-6">
                                    <label for="inputEmail4">الكمية</label>
                                    <input type="text" placeholder="الكمية" class="form-control" />
                                </div>
                            </div>
                            <div class="IsBox" *ngIf="select.id == 3">
                                علبة
                                <div class="form-group col-md-6 col-6">
                                    <label for="inputEmail4">السعر</label>
                                    <input type="text" placeholder="السعر" class="form-control" />
                                </div>
                                <div class="form-group col-md-6 col-6">
                                    <label for="inputEmail4">الباركود</label>
                                    <input type="text" placeholder="الباركود" class="form-control" />
                                </div>
                                <div class="form-group col-md-6 col-6">
                                    <label for="inputEmail4">الكمية</label>
                                    <input type="text" placeholder="الكمية" class="form-control" />
                                </div>
                            </div>
                            <div class="IsPeas" *ngIf="select.id == 2">
                                قطعة
                                <div class="form-group col-md-6 col-6">
                                    <label for="inputEmail4">السعر</label>
                                    <input type="text" placeholder="السعر" class="form-control" />
                                </div>
                                <div class="form-group col-md-6 col-6">
                                    <label for="inputEmail4">الباركود</label>
                                    <input type="text" placeholder="الباركود" class="form-control" />
                                </div>
                                <div class="form-group col-md-6 col-6">
                                    <label for="inputEmail4">الكمية</label>
                                    <input type="text" placeholder="الكمية" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="save()">حفظ</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

</div>