/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
body {
    background-color: #eceff1;
    text-align: inherit !important;
    direction: rtl;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none !important;
}